<template name="header">
  
  <header id="header">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Advanced Routing</a>
          <ul class="nav">
            <li class="active"><a href="{{homePath}}">Home</a></li>
            <li><a href="{{aboutPath}}">About</a></li>
            <li><a href="{{contactPath}}">Contact</a></li>
            <li><a href="{{magicPath}}">Magic</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  
</template>