<template name="about">
  <h1>About</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis delectus aut eos ullam molestiae commodi nemo fugit quia saepe eaque velit quod incidunt aspernatur suscipit dolores. Aut saepe cupiditate facilis.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt saepe magni vitae fuga deleniti ex omnis nam fugiat dignissimos blanditiis quae vero delectus ea. Earum nisi blanditiis asperiores repellendus voluptates?</p>
</template>